.back-button {
    width: 200px;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #270b3c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
  }
  
  .back-button:hover {
    background-color: #1976d2;
  }
  